  .cabecalho {
      background-color: #000000;
      color: maroon;
      display: flex;
      justify-content: space-around;
      padding: 5px;
      font-size: small;


  }

  .cabecalho-div {
      display: flex;

  }

  .cabecalho-imagem {
      width: 10%;
  }

  .informacao {
      background-color: firebrick;
  }

  .precos {
      background-color: lightblue;
  }