{
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .cabecalho {
        background-color: #7e0000;
        padding: 20px;
        text-align: justify;
    }

    .cabecalho-imagem  {
        max-width: 100px;
    
    }

    .cabecalho-titulo {
        margin-top: 10px;
        font-size: 24px;
        color: #333;
    }

    .cabecalho-lista {
        list-style-type: none;
        padding: 0;
        margin-top: 20px;
    }

    .cabecalho-item {
        display: inline-block;
        margin-right: 20px;
        font-size: 18px;
        color: #333;
        text-transform: uppercase;
    }

    .cabecalho-item:last-child {
        margin-right: 0;
    }

    .cabecalho-item:hover {
        color: #007bff;
    }